@font-face {
    font-family: 'garamond';
    src: url('assets/fonts/garamond.woff') format('woff');
    font-weight: 100 900; 
    font-style: normal; 
}

body::-webkit-scrollbar {
    display: none; 
}

html {
    margin: 0;
    min-height: 100vh;
    font-size: 10px; 
    font-family: 'garamond';
    box-sizing: border-box; 
}

body {
    background-color: #ABABAB;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden; 
}

.titleContainer {
    filter: blur(3px);
    font-size: 20rem;
    font-weight: 400;
    color: #F6CE04;
    position: relative;
    display: block;
}

.articleContainer, .noReadContainer {
    width: 100vw;
    column-count: 9; 
    column-gap: 10px;
}

p, .noReadContainer {
    color: #5E444D;
    font-size: 2rem;
    filter: blur(3px);
    transition: 0.5s ease; 
    text-align: justify;
}

p:hover{
    font-size: 10rem;
}